<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacation-Villa Edit-page:</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h3>Edit Your Listings</h3>
    <form method="POST" action="/Listings/<%=listings._id%>?_method=PUT">
        <input type="text" name="listing[title]" value="<%= listings.title%>">
        <br><br>
        <textarea name="listing[description]" cols="30" rows="10"><%= listings.description%></textarea>
        <br><br>
        <input type="text" name="listing[image]" value="<%= listings.image%>">
        <br><br>
        <input type="number" name="listing[price]" value="<%= listings.price%>">
        <br><br>
        <input type="text" name="listing[location]" value="<%= listings.location%>">
        <br><br>
        <input type="text" name="listing[country]" value="<%= listings.country%>">
        <br><br>
        <button class="btn btn-outline-primary btn-lg">Edit</button>
    </form>
</body>
</html>