<% layout("/Layouts/boillerplate") %>
<body>
    <h3>Listing Details:</h3>
    <ul>
        <li><%=listings.title%></li>
        <li><%=listings.description%></li>
        <img src="<%=listings.image.url%>" class="img" <br>
        <li> &#8377; <%= listings.price.toLocaleString("en-IN") %></li>
        <li><%=listings.location%></li>
        <li><%=listings.country%></li>
    </ul>
    <br>
    <a href="/Listings/<%= listings._id%>/edit" class="btn btn-outline-primary btn-sm">Edit Your Listing</a>
    <br><br>
    <form method="POST" action="/Listings/<%=listings._id%>?_method=DELETE">
        <button class="btn btn-outline-danger btn-sm">Delete This Listing</button>
    </form>
</body>
